/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #c70c47;
  --element: #bcd3cc;
  --title: #4b524e;;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

input{
  font-size: 1.1em;

}

/* Navigator */
header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background-color: #f0f0f0; */
  background-color: #5faa95;
  border-bottom: 1px solid #ccc;
  
}

.container button{
  color: var(--title);
  padding: 10px 5px;
  font-size: 2em;
  font-weight: bold;
  background-color: transparent;
  border: 0px;
  margin: 0 10px;
  cursor: pointer;
}


header .container {
  max-width: 1400px;
  font-size: 10px;
  margin: 0 10px;
  margin-top: 20px;
  padding: 5px 5px;
  display: flex;
  align-items: right;
  justify-content: space-around;
  
}

.link{
  padding: 0 20px;
  
}


/* Login */
.login-container{
  background-color: #bcd3cc;
 
  border-radius: 10px;
  border: 2px none;
  margin: 50px auto;
  width: 40%;
  height: 450px;
  text-align: center;
}

.login-container p{
  padding: 30px 0;
  color: #496356;
  font-size: x-large;
  font-weight: bold;
 
}

.login-container input{
  margin: 30px auto;
  padding :20px;
}

.login-container button{
  margin: 10px 30px ;
}


header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

div.error {
  padding: 10px;
  color: var(--error);
  font-weight: 500;
  border-radius: 4px;
}

/* signup */
.signup-container{
  background-color: #bcd3cc;
  border-radius: 10px;
  border: 2px none;
  margin: 50px auto;
  width: 40%;
  height: 550px;
  text-align: center;
}

.signup-container p{
  padding: 30px 0;
  color: #496356;
  font-size: x-large;
  font-weight: bold;
 
}

.signup-container input{
  margin: 30px auto;
  padding :20px;
}

.signup-container button{
  margin: 10px 30px ;
}



/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.product-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 20px;
  padding: 20px;
  /* position: relative; */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.product-details button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  margin: 10px 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.product-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.product-details p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}
.product-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new product form */
.productform{
  height: 650px;
  margin: 30px 20px;
  padding: 0 50px;
  background-color: var(--element);
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.productform h3{
  text-align: center;
  color: var(--title);
}
.productform label, input {
  text-align: left;
  display: block;
  margin: 10px auto;
}
.productform input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: 0 30px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}


/* All users */
.allUser-container{
  background: #fff;
  border-radius: 4px;
  display: flex;
  margin: 0 30px;
  padding: 10px 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.allUser-container .link{
  
  cursor: pointer;
  margin-top: 15px;
  color: #333;
  font-size: 1.1em;
  text-decoration: none;
}

.allUser-container .link:hover{
  background-color: #58b49a;
  border-radius: 20px;
}

/* Profile */
.Profile-container{
  /* width: 60%;
  height: 60vh;
  text-align: center;
  margin: 50px auto;
  border: 1px solid; */

  background-color: #bcd3cc;
  border-radius: 10px;
  border: 2px none;
  margin: 50px auto;
  width: 40%;
  height: 500px;
  text-align: center;
}

.Profile-container h1{
  padding-top: 40px ;
}
.Profile-container label{
  padding: 0 10px;
  font-size: 1.2em;
}
.Profile-container input{
  display: inline;
  padding: 5px 10px;
  margin-top: 40px ;
}

.Profile-container button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: 30px 30px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}